{% extends "bootstrap/base.html" %}

{% block title %}Entitlements Accounts - Internal Server Error{% endblock %}

{% block content %}
<div class="header rcue">
    <div class="navbar utility">
        <div class="navbar-inner">
            <ul class="nav">
                <a class="brand" href="/"><img src="static/img/redhat-lg.png" alt="Red Hat&reg; Account Tool" /></a>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="page-header">
        <h1>Internal Server Error</h1>
    </div>
</div>
{% endblock %}
